.profile {
  width: 250px;

  border: 3px dotted grey;
  border-radius: 5px;

  margin: 0px auto;
}

.description {
  text-align: center;
}

.img {
  width: 250px;
}
.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  border: 1px solid gray;
}

.statItem {
  list-style: none;
  display: flex;
  flex-direction: column;
}
